* {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: rgb(238, 238, 238);
    margin: 0;
    overflow-x: hidden;
}

.sidenavbar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 3px solid grey;
    background-color: rgb(143, 78, 78);
  }
  
  .sidenavbar nav { 
    display: flex;
    flex-direction: column;
  }
  
  .sidenavbar nav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: 1px solid rgb(97, 33, 33);
  }
  

.sidenavbar nav a:hover {
    background-color: lightcoral;
    color: white;
}

.sidenavbar nav a:active {
    background-color: salmon;
}

.sidenavbar h1 {
    text-align: center;
    color: white;
    padding: 10px;
}

.sidebar nav footer p {
    /* padding: 12%; */
    text-decoration: none;
    color: #818181;
    font-family: "Open Sans";
}

.container {
    margin-left: 320px;
    padding: 20px;
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table img, table video {
    width: 100%;
}

footer{
    margin: 20px 10px;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

/* Media Queries */

/* For Large Screens (Laptop, Width > 425px) */
@media (min-width: 426px) {
    .sidenavbar {
        width: 300px;
    }

    .container {
        margin-left: 300px;
        overflow: visible; 
    }
}

/* For Small Screens (Mobile, Width <= 425px) */
@media (max-width: 425px) {
    .sidenavbar {
        position: relative;
        width: 100%;
        max-height: 30vh; 
        overflow-y: scroll;
        border-right: none;
        border-bottom: 3px solid grey;
        z-index: 1000;
    }

    .sidenavbar h1 {
        font-size: 20px;
    }

    .sidenavbar nav a {
        font-size: 15px;
    }

    .container {
        margin: 0;
        overflow-x: auto; 
    }

    table {
        width: auto; 
    }
}
